.webpage{
    background-color: rgb(15, 15, 15);
}

.convoHolder{

    display: grid; 
    grid-template-columns: 10% 80% 10%; 
    
}

.conversation{
    display:inline-block; 
    margin: auto;
    margin-top: 100px; 
    width: 100%; 
    height: 80%;
    border-color: rgb(110, 110, 110);
    background-color: rgb(20, 20, 20);
    border-style: solid;
    border-width: 3px;
    border-radius: 0px;
}

.gptChat{
    color: rgb(0,255,0);
    background-color: rgb(0, 0, 0);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 100px;
    
}

.userChat{
    color: rgb(0, 255, 255);
    background-color: rgb(0, 0, 0);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    margin: none;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 150%;
    position: relative;
    left: 99%;
    transform: translateX(-100%)
    
}

.line{
    width: 100%;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    height: 1px;
    background-color: rgb(102, 102, 102);
}


.userIn{
    display: flex;
    justify-content: center;
    
}

.userTextIn{
    display: inline-block;
    background-color: rgb(0,0,0);
    border-color: rgb(102, 102, 102);
    border-style: solid;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 18px;
    width: 80%;
    margin-top: 10px;
}


.sendButton{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    background-color: rgb(0,0,0);
    color: rgb(0,255,255);
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 23px;
    margin-left: 5px;
    margin-top: 8px;
    height: 48px;
    transition: 0.2s;
}

.sendButton:active{
    opacity: 0.5;
}

