<!DOCTYPE html>
<html>
    <head>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles.css">
        
        
    </head>

    <body class = "webpage">
    
        
        <div class = "convoHolder">

            <span></span>

            <div>

                <!-- This div holds all the messages -->
                <div class = "chat" id = "chat"> </div>
        
                <hr class = "line">
        
                <!-- This div holds all the user input elements-->
                <div class = "userIn">
        
                    <input class ="userTextIn" id = "userTextIn" type="text" placeholder="Enter Text Here" autocomplete="off">
        
                    <span>
        
                        <button class = "sendButton" id = "sendButton">></button>
        
                    </span>
                   
                </div>

                <p id = "generatingMsg" class="generatingMsg">Generating Text...</p>

            </div>

            <br>

        </div>

        <script src = "static/calanderGPT.js"></script>
    </body>

</html>